body,
section,
ul,
li,
span {
  margin: 0;
  padding: 0; }

body {
  background: #080e24;
  overflow: hidden; }

#container {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden; }

.solarsystem {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .solarsystem li {
    display: block;
    position: absolute;
    border: 2px solid #394057;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit; }
    .solarsystem li span {
      display: block;
      position: absolute; }
  .solarsystem .sun {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #fc3;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #cc9900), color-stop(1, #ffdb70));
    background-image: -moz-linear-gradient(center bottom, #cc9900 22%, #ffdb70 100%);
    border: none;
    box-shadow: 0 0 50px #c90; }
  .solarsystem .mercury {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s; }
    .solarsystem .mercury:before {
      position: absolute;
      content: ' \25CF';
      color: #b6bac5;
      font-size: 85px;
      top: 60px;
      left: 5px; }
  .solarsystem .venus {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s; }
    .solarsystem .venus:before {
      position: absolute;
      content: ' \25CF';
      color: #bf8639;
      font-size: 160px;
      top: 50px;
      left: 5px; }
  .solarsystem .earth {
    width: 850px;
    height: 850px;
    border-radius: 50%;
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    animation-duration: 12s; }
    .solarsystem .earth .circle-earth {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #06c;
      top: 370px;
      left: -35px;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-name: moon;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -moz-animation-name: moon;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: moon;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      animation-duration: 2s; }
    .solarsystem .earth .moon:before {
      position: absolute;
      content: ' \25CF';
      color: #ccc;
      font-size: 65px;
      top: 58px;
      left: 5px; }

.comet {
  width: 117px;
  height: 75px;
  background: url(http://i477.photobucket.com/albums/rr132/batkarrett/Steves%20Crit/comet.png);
  background-size: cover;
  animation: animationFrames linear 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 999; }

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(0px, 0px); }
  50% {
    opacity: 1;
    transform: translate(580px, 357px) rotate(-40deg); }
  100% {
    opacity: 0;
    transform: translate(1400px, 1000px); } }

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }

@keyframes moon {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }
