.sidebar ul {
    margin-top: 25px;
    margin-left: 20px;
}

.sidebar ul li {
    width: 85%;
    margin-top: 15px;
}

.sidebar ul li:last-of-type {
    margin-top: 75vh;
    width: 100%;
}

.sidebar ul li:nth-child(2),
.sidebar ul li:nth-child(3) {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.sidebar ul li a {
    color: gray;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: white;
}

/*.sidebar ul li a:active,*/
.sidebar ul li a:focus {
    color: #07D159;
}

.sidebar ul li .active {
    color: #07D159;
}

.sidebar .logo-icon {
    width: 30px;
    height: 30px;
}

.sidebar .search-icon {
    margin-left: 50%;
    font-size: 19px;
}

.sidebar .user-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}