// variables
$nav-background:#3D697D;
$body-background:#464B51;
$font-color-light:#fff;
$font-color-dark:#62666D;
$first-view-background:#0088CC;
$second-view-background:#F1E9DD;
$third-view-background:#83AD97;
$base-spacing:5px;
$height: 100vh;
$app-font: 'Playfair Display',
serif;
$menu-font: 'Poppins',
sans-serif;
body,
ul,
li,
div,
a,
h1 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: $app-font;
    background: $body-background;
    background-size: cover;
    opacity: 0.95;
}

nav {
    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: $nav-background;
        list-style: none;
        padding: $base-spacing * 4;
        li a {
            text-decoration: none;
            font-family: $menu-font;
            color: $font-color-light;
            margin-right: $base-spacing * 6;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

#container {
    height: $height;
    overflow: hidden;
    position: relative;
    div {
        height: $height;
    }
    div:nth-of-type(1) {
        background: $first-view-background;
        color: $font-color-light;
    }
    div:nth-of-type(2) {
        background: $second-view-background;
        color: $font-color-dark;
    }
    div:nth-of-type(3) {
        background: $third-view-background;
        color: $font-color-light;
    }
    .view {
        position: absolute;
        text-align: justify;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        transition: transform .5s linear;
        h1 {
            margin-bottom: $base-spacing * 4;
            padding: $base-spacing * 6 $base-spacing * 20;
        }
        article {
            padding-left: $base-spacing * 20;
            padding-right: $base-spacing * 20;
        }
        &.js-active {
            z-index: 1;
        }
        &.left-to-right {
            animation: .5s left-to-right forwards;
        }
        &.right-to-left {
            animation: .5s right-to-left forwards;
        }
        &.center-to-left {
            z-index: 1;
            animation: .5s center-to-left forwards;
        }
        &.center-to-right {
            z-index: 1;
            animation: .5s center-to-right forwards;
        }
    }
}

@keyframes left-to-right {
    from {
        left: -100%;
        transform: translateX(0);
    }
    to {
        left: -100%;
        transform: translateX(100%);
    }
}

@keyframes right-to-left {
    from {
        left: 100%;
        transform: translateX(0);
    }
    to {
        left: 100%;
        transform: translateX(-100%);
    }
}

@keyframes center-to-left {
    from {
        left: 0;
        transform: translateX(0);
    }
    to {
        left: 0;
        transform: translateX(-100%);
    }
}

@keyframes center-to-right {
    from {
        left: 0;
        transform: translateX(0);
    }
    to {
        left: 0;
        transform: translateX(100%);
    }
}