$body-backgroud:#080e24;
$sun-background:#fc3;
$mercury-background:#b6bac5;
$venus-background:#bf8639;
$earth-background:#06c;
$moon-background:#ccc;
$trajectory-color:#394057;
$circle-radius:50%;
$basic-container:250px;
$planet-container:4px;
$circle-font-size-base:5px;
$basic-speed: 2s;
$view-height:100vh;