$body-backgroud:#080e24;
$sun-background:#fc3;
$mercury-background:#b6bac5;
$venus-background:#bf8639;
$earth-background:#06c;
$moon-background:#ccc;
$trajectory-color:#394057;
$circle-radius:50%;
$basic-container:250px;
$planet-container:4px;
$circle-font-size-base:5px;
$view-height:100vh;
@mixin transition-mixin($transition-property, $transition-duration, $transition-timing-function) {
    -webkit-transition: $transition-property $transition-duration $transition-timing-function;
    -moz-transition: $transition-property $transition-duration $transition-timing-function;
    -o-transition: $transition-property $transition-duration $transition-timing-function;
    transition: $transition-property $transition-duration $transition-timing-function;
}

@mixin animation-mixin($iteration-count, $timing-function, $animation-name) {
    -webkit-animation-iteration-count: $iteration-count;
    -webkit-animation-timing-function: $timing-function;
    -webkit-animation-name: $animation-name;
    -moz-animation-iteration-count: $iteration-count;
    -moz-animation-timing-function: $timing-function;
    -moz-animation-name: $animation-name;
    animation-iteration-count: $iteration-count;
    animation-timing-function: $timing-function;
    animation-name: $animation-name;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin rotate($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
}

body,
section,
ul,
li,
span {
    margin: 0;
    padding: 0;
}

body {
    background: $body-backgroud;
    overflow: hidden;
}

#container {
    display: flex;
    height: $view-height;
    justify-content: center;
    overflow: hidden;
}

.solarsystem {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    li {
        display: block;
        position: absolute;
        border: 2px solid $trajectory-color;
        @include animation-mixin(infinite, linear, orbit);
        span {
            display: block;
            position: absolute;
        }
    }
    .sun {
        width: $basic-container;
        height: $basic-container;
        border-radius: $circle-radius;
        background: $sun-background;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.22, rgb(204, 153, 0)), color-stop(1, rgb(255, 219, 112)));
        background-image: -moz-linear-gradient( center bottom, rgb(204, 153, 0) 22%, rgb(255, 219, 112) 100%);
        border: none;
        box-shadow: 0 0 50px #c90;
    }
    .mercury {
        width: $basic-container * 1.8;
        height: $basic-container * 1.8;
        border-radius: $circle-radius;
        @include animation-duration(5s);
        &:before {
            position: absolute;
            content: ' \25CF';
            color: $mercury-background;
            font-size: $circle-font-size-base * 17;
            top: 60px;
            left: 5px;
        }
    }
    .venus {
        width: $basic-container * 2.6;
        height: $basic-container * 2.6;
        border-radius: $circle-radius;
        @include animation-duration(8s);
        &:before{
            position: absolute;
            content: ' \25CF';
            color: $venus-background;
            font-size:  $circle-font-size-base * 32;
            top: 50px;
            left: 5px;
        }
    }
    .earth {
        width: $basic-container * 3.4;
        height: $basic-container * 3.4;
        border-radius: $circle-radius;
        @include animation-duration(12s);
        .circle-earth {
            width: $planet-container * 20;
            height: $planet-container * 20;
            border-radius: $circle-radius;
            background: $earth-background;
            top: 370px;
            left: -35px;
            @include animation-mixin(infinite, linear, moon);
            @include animation-duration(2s);
        }
        .moon:before {
            position: absolute;
            content: ' \25CF';
            color: $moon-background;
            font-size:  $circle-font-size-base * 13;
            top: 58px;
            left: 5px;
        }
    }
}

.comet {
    width: 117px;
    height: 75px;
    background: url(http://i477.photobucket.com/albums/rr132/batkarrett/Steves%20Crit/comet.png);
    background-size: cover;
    animation: animationFrames linear 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 999;
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
     50% {
        opacity: 1;
        transform: translate(580px, 357px) rotate(-40deg);
    }
    100% {
        opacity: 0;
        transform: translate(1400px, 1000px);
    }
}

@keyframes orbit {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}

@keyframes moon {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}