.header {
  float: left;
  width: 100%;
}

.header ul {
  display: flex;
}

.header ul li {
  flex: 1 1 auto;
  text-align: center;
}

.header ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}