.container .content {
    padding-left: 250px;
    min-height: 100vh;
    overflow: auto;
    background: #101010;
    background-image: linear-gradient(rgb(75, 70, 81), rgb(5, 7, 9) 85%);
    color: white;
}

.container .sidebar {
    position: fixed;
    float: left;
    width: 250px;
    height: 100vh;
    background: black;
    background-image: linear-gradient(rgb(55, 52, 61), rgb(5, 7, 9) 85%);
}

.content .component-container {
    clear: both;
}

.component-container {
    margin-top: 120px;
}