.user-panel {
    text-align: center;
}

.user-panel .user-image {
    width: 200px;
    height: 200px;
}

.user-panel button {
    margin-top: 50px;
    width: 210px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid white;
    background: none;
    color: white;
    text-transform: uppercase;
    outline: 0;
}