* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  background: white;
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover; }

.hidden {
  display: none; }

#calculator {
  position: relative;
  width: 330px;
  height: auto;
  margin: 100px auto;
  background: #fff;
  border: 1px solid #1b8c90;
  box-shadow: 0 0 22px 4px #d4d4d4; }
  #calculator .top-container {
    margin: 20px 20px 0px 20px; }
  #calculator .heding {
    margin-bottom: 10px; }
  #calculator .menu {
    display: flex;
    align-items: center; }
    #calculator .menu img,
    #calculator .menu a,
    #calculator .menu button {
      width: 35px;
      height: 35px; }
    #calculator .menu a {
      margin-right: 5px; }
    #calculator .menu button {
      border: none;
      background: none; }
    #calculator .menu .calculator-option {
      text-transform: uppercase;
      font-weight: bold; }
    #calculator .menu #menu {
      position: absolute;
      top: 45px;
      left: 15px;
      line-height: 1.5;
      background: #f2f2f2;
      padding: 20px 10px;
      width: 90%; }
      #calculator .menu #menu .toggle-menu {
        display: flex;
        align-items: center; }
    #calculator .menu ul {
      list-style: none; }
    #calculator .menu li {
      margin-left: -10px;
      margin-right: -10px;
      padding: 5px; }
      #calculator .menu li a {
        text-decoration: none;
        color: black;
        padding-left: 45px; }
      #calculator .menu li:hover {
        background: #cacaca; }
    #calculator .menu .selected {
      background: #87babc; }
  #calculator .top {
    display: flex;
    height: 140px;
    align-items: center; }
  #calculator .screen {
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    font-size: 40px;
    color: black;
    text-align: right;
    letter-spacing: 1px; }
  #calculator .keys .advanced-row {
    border-bottom: 1px solid gray;
    color: gray;
    padding-bottom: 5px;
    font-size: 0.9rem; }
  #calculator .keys .calculator-row {
    display: flex;
    margin-bottom: 15px; }
    #calculator .keys .calculator-row span {
      flex: 1 0 auto;
      text-align: center;
      padding: 5px;
      font-weight: bold; }
    #calculator .keys .calculator-row .del-advanced {
      margin-right: -10px; }
    #calculator .keys .calculator-row .del-standard {
      text-align: right;
      margin-right: 20px; }
  #calculator .keys .container {
    background: #f2f2f2;
    padding-top: 15px;
    height: 100%; }
