$error-color:#AB4442;
$error-background:#F2DEDE;
$success-color:#3C763D;
$success-background:#DFF0D8;
$form-border: gray;
$font-color:#41526d;
$font-color-light:#fff;
$dark-background:#3a4c68;
$light-background: whitesmoke;
$base-px: 5px;