@import 'variables';
body,
div,
p,
input,
select,
input {
    margin: 0;
    padding: 0;
}

body{
    background: $dark-background;
    color: $font-color-light;
}

.hidden {
    display: none;
}

#container {
    width: 80%;
    margin: 0 auto;
    h1{
        text-align: center;
        text-transform: uppercase;
        color: $font-color-light;
        margin-bottom: $base-px * 10;
    }
    .order-message {
        width: $base-px * 120;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        .order-message-error {
            color: $error-color;            
            background: $error-background;
            margin-bottom: $base-px * 5;
            padding: $base-px * 2;
        }
        .order-message-success {
            color: $success-color;
            background: $success-background;
            margin-bottom: $base-px * 5;
            padding: $base-px * 2;
        }
    }
    .order-form {
        width: $base-px * 100;
        padding:$base-px * 10 $base-px * 10 $base-px * 5 $base-px * 5;
        box-shadow: 0 0 $base-px * 2 0 $light-background;
        margin-left: auto;
        margin-right: auto;
        color: $font-color;
        background: $light-background;
        .form-group {
            margin-bottom: $base-px * 5;
            display: flex;
            p {
                width: 15%;
                text-align: left;
                height: $base-px * 5;
                padding-top: $base-px;
            }
            input,
            select {
                width: 85%;
                height: $base-px * 5;
                padding-left: $base-px;
            }
            input:focus,
            select:focus{
                outline: none;
            }
        }
        #btn-order{
            width: 100%;
            height: $base-px * 7;
            margin-top: $base-px * 2;
            background: $dark-background;
            color: $font-color-light;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
        }
    }
    .cars-wrapper{
        text-align: center;
        .cars-details-wrapper{
            display: flex;
        }
        .car-details{
            border: 1px solid $font-color-light;
            height: $base-px * 20;
            padding: $base-px * 5;
            background: $light-background;
            margin-left: $base-px * 5;
            line-height: 1.5rem;
            color: $dark-background;
            text-transform: capitalize;
            flex: 1 0 auto;
        }
        .btn-buy{
            width: 100%;
            background: $dark-background;
            border: none;
            color: $font-color-light;
            padding: $base-px;
            margin-top: $base-px * 2;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

h2{
    margin: $base-px * 10 0 $base-px * 10 0;
}