body,
div,
p,
input,
select,
input {
  margin: 0;
  padding: 0; }

body {
  background: #3a4c68;
  color: #fff; }

.hidden {
  display: none; }

#container {
  width: 80%;
  margin: 0 auto; }
  #container h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px; }
  #container .order-message {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold; }
    #container .order-message .order-message-error {
      color: #AB4442;
      background: #F2DEDE;
      margin-bottom: 25px;
      padding: 10px; }
    #container .order-message .order-message-success {
      color: #3C763D;
      background: #DFF0D8;
      margin-bottom: 25px;
      padding: 10px; }
  #container .order-form {
    width: 500px;
    padding: 50px 50px 25px 25px;
    box-shadow: 0 0 10px 0 whitesmoke;
    margin-left: auto;
    margin-right: auto;
    color: #41526d;
    background: whitesmoke; }
    #container .order-form .form-group {
      margin-bottom: 25px;
      display: flex; }
      #container .order-form .form-group p {
        width: 15%;
        text-align: left;
        height: 25px;
        padding-top: 5px; }
      #container .order-form .form-group input,
      #container .order-form .form-group select {
        width: 85%;
        height: 25px;
        padding-left: 5px; }
      #container .order-form .form-group input:focus,
      #container .order-form .form-group select:focus {
        outline: none; }
    #container .order-form #btn-order {
      width: 100%;
      height: 35px;
      margin-top: 10px;
      background: #3a4c68;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      border: none; }
  #container .cars-wrapper {
    text-align: center; }
    #container .cars-wrapper .car-details {
      border: 1px solid #fff;
      height: 100px;
      padding: 25px;
      background: whitesmoke;
      margin-left: 25px;
      line-height: 1.5rem;
      color: #3a4c68;
      text-transform: capitalize; }
    #container .cars-wrapper .btn-buy {
      width: 100%;
      background: #3a4c68;
      border: none;
      color: #fff;
      padding: 5px;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: bold; }
    #container .cars-wrapper .cars-details-wrapper {
      display: flex; }
      #container .cars-wrapper .cars-details-wrapper > * {
        flex: 1 0 auto; }

h2 {
  margin: 50px 0 50px 0; }
